@media (max-width: 850px) {
  .hero .container {
    display: block;
  }
  .hero-left,
  .hero-right {
    display: flex;
    justify-content: center;
  }
  .hero-left {
    margin-bottom: 1rem;
  }

  .hero-left .text-wrapper h1,
  .hero-left .text-wrapper h2 {
    text-align: left;
  }

  .coll-favs-wrapper {
    display: flex;
    flex-direction: column;
  }

  .coll-favs-wrapper .favorites {
    max-width: initial;
    min-width: initial;
    min-height: fit-content;
    padding: 1rem 1rem 2rem 1rem;
  }
  .favorites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .favorites .my-own-row {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 625px) {
  .mobile-break {
    display: block;
  }
}

@media (max-width: 500px) {
  .hero .img-wrapper {
    min-width: 90px;
    margin-right: 2rem;
  }

  .hero .img-wrapper img {
    width: 100%;
  }

  .hero .header-md {
    font-size: 2rem;
  }

  .hero .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}
@media (max-width: 335px) {
  .player-card {
    width: 95vw;
  }
  .player-card .card-top {
    padding: 5px;
  }

  .player-card .card-top-left,
  .player-card .card-btm-right {
    width: 75%;
  }
}
